* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}


body,html{
    height: 100vh;
    max-width: 100vw;  
}

body{
	background: #e65c00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-size: 16px;

}


.main-wrapper
{
	max-width: 100%
	max-height:100%;
	
	display: flex;
	flex-direction: column;
}
.toggle{
	display: none;
}
nav
{

position: fixed;
  top: 0;
  z-index: 9000;
  width: 100%;
background: #CB356B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}



.navbar {
list-style-type: none;
	padding: 0;
  display: flex;
}



.navbar  li {
  flex: 1;
}


.navbar a{
	text-decoration: none;
	text-align: center;
	color: white;
	display: block;
	padding: 10px;
}

.navbar a:hover{
background: #EF3B36;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #FFFFFF, #EF3B36);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #FFFFFF, #EF3B36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}





label{

	margin: 0 40px 0 0 ;
	font-size: 50px;
	color:white;
	display: none;
	float: right;
	
}


#toggle{
	display: none;
}




.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    background-color: #E91E63;
}

.row .my-pic {
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0px 3px 20px 2px white;
    width: 35vw;

}

 .row .image {
        padding: 10px;
    }

.text {
    color: #2c2c2c;
    font-family: "Istok Web", sans-serif;
    padding: 10px;
}


.row1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
	  
    width: 100%;
}
#edu
{
 background-color: #EC407A; 
}
#projects
{
	background-color: #F06292;
}

a{
	text-decoration: none;
	text-align: center;
	color: white;
	display: block;
	padding: 10px;
}



.filler1,.filler2,.filler3,.filler4
{
	display: block;
	height: 70px;
	max-width: 100%;
}

.filler1
{
	background-color: #E91E63;

}
.filler2
{
	background-color:#E91E63;
	
}

.filler3
{
	background-color: #EC407A;
}

.filler4
{
	background-color: #F06292;
}





.row1 .my-pic {
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0px 3px 20px 2px #fff;
    width: 100%;

}
h2
{
	
	padding: 10px 0 10px 0;
	text-align: center;
	max-width: 100%;
	
}
h3{
	text-align: center;
}
p
{
	text-align: justify;
}
 .row1 .image {
        padding: 10px;
        max-width: 20%;
        
    }

#box1,#box2,#box3,#box4,#box5,#box6,#box7,#box8
{margin: 10px}
#box1
{

	background-color: #3F51B5;

}

#box2
{
background-color: #9E9E9E;	
}


#box3
{
	background-color: #2196F3;
}

#box4
{
	background-color: #f44336;
}

#box5
{
	background-color: #9C27B0;
}

#box6
{
	background-color: #795548;
}

#box7
{
	background-color: #FF5722;
}

#box8
{
	background-color: #4CAF50;
}

.contactme {
    
    display: flex;
    justify-content: center;
    padding: 10px;
}

.contactme .icon {
    margin: 10px;
    width: 25px;
    height: 25px;
}

@media all and (max-width: 600px) {

body{
	font-size: 20px;
}

label{
		display: flex;
		cursor: pointer;
		
		justify-content: flex-end;
	
	}


.navbar {
	display: none;
}

	#toggle:checked + .navbar {
	display: flex;
	flex-wrap: wrap;
 
}

 .navbar li {
    flex-basis: 50%;
  }
  
 .filler1,.filler2,.filler3,.filler4
{
	display: block;
	height: 100px;
}
  
    .row {
        flex-direction: column;
    }
    .row .my-pic {
        width: 60vw;
    }

.row1 .image {
        padding: 10px;
        max-width: 40%;
    }

 

}

@media all and (max-width: 400px) {

body{
	font-size: 24px;
}

label{
		display: flex;
		cursor: pointer;
		
		justify-content: flex-end;
	
	}

.filler1,.filler2,.filler3,.filler4
{
	display: block;
	height: 140px;
}
  .navbar li {
    flex-basis: 100%;
  }


.row1{
	align-items: center;
	justify-content: space-around;
}
.row1 .image {
        padding: 10px;
        margin: 10px;
        max-width: 100%;
        
    }
  
.row1 .my-pic {
        width: 80vw;
    }
}